@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
$ff-body: "Raleway", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400..700&display=swap");
$ff-headings: "Raleway", sans-serif;

$c-p-very-dark-blue: #070439;
$c-p-desaturated-blue: #585989;

$c-a-bright-blue: #3065f8;
$c-a-moderate-cyan: #3c9f8f;

$c-n-light-grayish-blue: #f6f6fe;
$c-n-light-gray: #bfbfbf;

$max-width: 75rem;
